fastapi
uvicorn
opencv-python
numpy
pydantic
python-multipart
scikit-learn
torch
torchvision
torchaudio
Pillow
google-generativeai
groq
python-dotenv
requests
supabase
mediapipe
librosa
praat-parselmouth
imageio-ffmpeg
openai
pymongo
PyPDF2
